.nav {
  position: fixed;
  width: 100%;
  padding: 20px 50px;
  background-color: #fcfcfc;
  left: 0px;
  bottom: 0px;
  border: 1px solid #f7f7f7;
}

.nav .nav__list {
  display: flex;
  justify-content: space-between;
}

.nav i {
  font-size: 20px;
}

.nav .nav__list-link {
  position: relative;
}

.nav .nav__badge {
  position: absolute;
  top: -7px;
  right: -7px;
  color: white;
  font-size: 10px;
  background-color: #dc5d46;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  text-align: center;
  animation: bounce-top 2s 0.7s infinite;
}

@keyframes bounce-top {
  0% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    transform: translateY(2px);
    animation-timing-function: ease-in;
    opacity: 1;
  }
  40% {
    transform: translateY(-6px);
    animation-timing-function: ease-in;
  }
  65% {
    transform: translateY(-10px);
    animation-timing-function: ease-in;
  }
  82% {
    transform: translateY(-3px);
    animation-timing-function: ease-in;
  }
  93% {
    transform: translateY(-1px);
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
  }
  100% {
    transform: translateY(0px);
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

@keyframes showNavBar {
  from {
    transform: translateY(80px);
  }
  to {
    transform: none;
  }
}

.nav {
  transform: translateY(80px);
  animation: showNavBar 0.5s ease-out forwards;
  animation-delay: 0.3s;
}
